<nav
  class="select-none flex items-center px-4 gap-4 h-full w-full box-border justify-between bg-dark/75 backdrop-blur-sm"
>
  <div class="box-border flex gap-4 lg:gap-12">
    <div class="box-border flex items-center">
      <a routerLink="/">
        <h1
          class="w-full justify-center text-center text-lg md:text-2xl font-black text-primary hover:text-primary-light"
        >
          {{ 'vibesTrackerTitle' | translate }}
        </h1>
      </a>
    </div>
    <div class="box-border flex items-center">
      <a routerLink="/top">
        <p
          class="w-full text-center text-base md:text-lg font-black text-gray hover:text-white"
        >
          {{ 'nav_simpleTop' | translate }}
        </p>
      </a>
    </div>
    <div class="box-border flex items-center">
      <a routerLink="/extended-history">
        <p
          class="w-full text-center text-base md:text-lg font-black text-gray hover:text-white"
        >
          {{ 'nav_extendedTop' | translate }}
        </p>
      </a>
    </div>
  </div>
  <div class="box-border flex gap-4 lg:gap-12 items-center">
    <div class="box-border flex items-center">
      <a routerLink="/settings">
        <div class="medium-icon">
          <svg
            class="text-gray-800 h-[32px] w-[32px] dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</nav>
