<div class="w-full h-max flex flex-col gap-4 p-4">
  <div class="w-full gap-2 flex flex-col justify-center sm:w-[450px]">
    <h2 class="text-xl font-bold">{{ '@@settings_title-language' | translate }}</h2>
    <app-language-selector />
  </div>

  <div class="w-full gap-2 flex flex-col justify-center sm:w-[450px]">
    <h2 class="text-xl font-bold">{{ '@@settings_title-general' | translate }}</h2>

    <button class="text-lg w-full py-1 px-12 bg-primary rounded-sm hover:bg-primary-light" (click)="this.logOut()">
      {{ '@@settings_logout' | translate }}
    </button>

    <button
      class="text-lg w-full py-1 px-12 bg-primary rounded-sm hover:bg-primary-light"
      (click)="this.deleteExtendedHistory()"
    >
      @switch (this.deleteExtendedHistoryStatus()) {
        @case (DeletingStatusEnum.Idle) {
          {{ '@@settings_deleteExtendedHistoryButton_idle' | translate }}
        }
        @case (DeletingStatusEnum.Deleting) {
          <div class="flex gap-2 justify-center items-center">
            {{ '@@settings_deleteExtendedHistoryButton_deleting' | translate }}
            <div class="w-[20px] h-[20px] text-pure-white">
              <app-loading-spinner />
            </div>
          </div>
        }
        @case (DeletingStatusEnum.Deleted) {
          {{ '@@settings_deleteExtendedHistoryButton_deleted' | translate }}
        }
        @case (DeletingStatusEnum.Error) {
          {{ '@@settings_deleteExtendedHistoryButton_error' | translate }}
        }
      }
    </button>

    <button
      class="text-lg w-full py-1 px-12 bg-primary rounded-sm hover:bg-primary-light"
      (click)="this.clearIgnoredTracks()"
    >
      {{ '@@settings_clearIgnoredTracks' | translate }}
    </button>
  </div>
</div>
