<div
  class="w-full h-full flex items-center gap-3 box-border p-2 rounded-md bg-dark shadow-sm hover:shadow-md transition-all duration-200 ease-in-out"
>
  @if (this.album() && this.album().type) {
    <!-- IMAGE -->
    <div class="flex-1">
      <div class="w-full h-full aspect-square block">
        <a routerLink="/album/{{ this.album().id }}">
          <img
            class="w-full h-full overflow-hidden object-cover rounded-sm"
            loading="lazy"
            alt="{{ this.album().name || '' }} cover"
            [src]="this.album().images.length > 0 ? this.album().images[0].url : ''"
          />
        </a>
      </div>
    </div>

    <!-- ALBUM DATA -->
    <div class="flex-1 overflow-hidden">
      <div>
        <div>
          <p class="text-xl font-black text-gray">{{ this.index() }}#</p>
        </div>
      </div>
      <div>
        <!-- ALBUM NAME -->
        <div class="">
          <a class="w-min" routerLink="/album/{{ this.album().id }}">
            <p class="font-bold truncate-1">{{ this.album().name }}</p>
          </a>
        </div>

        <!-- ARTIST NAMES LIST -->
        <div>
          <p class="truncate-2 text-xs text-gray">
            @for (artist of album().artists; track $index) {
              @if ($index < album().artists.length - 1) {
                <a routerLink="/artist/{{ artist.id }}">
                  <span>{{ artist.name }}, </span>
                </a>
              } @else {
                <a routerLink="/artist/{{ artist.id }}">
                  <span>{{ artist.name }}</span>
                </a>
              }
            }
          </p>
        </div>

        <!-- RELEASE YEAR -->
        <div>
          <p class="truncate-1 text-xs text-gray">
            {{ this.album().release_date | date: 'yyyy' }}
          </p>
        </div>
      </div>
    </div>
  }
</div>
