@use 'mixins' as mixins;

$header-height: 64px;

.main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  > div {
    width: 100%;
    box-sizing: border-box;

    overflow-x: hidden;
  }

  .header {
    height: $header-height;

    overflow-y: hidden;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .router {
    height: 100%;
    padding-top: $header-height;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
}
