// .date-picker-button {
//   position: relative;

//   p-datepicker {
//     position: absolute;
//     top: 0;
//     left: 0;
//     // z-index: 10;

//     // ::ng-deep {
//     //   > input {
//     //     // width: 0;
//     //     // height: 0;
//     //     // padding: 0;
//     //     // border: none;
//     //     // opacity: 0;
//     //     // margin: 0;
//     //     // outline: none;
//     //   }
//     // }
//   }
// }
