@mixin gradient-underline {
    content: '';
    display: block;
    position: absolute;

    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        var(--dark-light-color) 5%,
        var(--dark-gray-color) 95%,
        transparent
    );
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    scrollbar-color: var(--dark-gray-color) var(--dark-color);
}
