.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-none * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.select * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

// truncates lines
@mixin truncate-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 1 through 5 {
  .truncate-#{$i} {
    @include truncate-lines($i);
  }
}

.button-break-line {
  position: relative !important;
}
.bottom-break-line::before {
  content: '';
  display: block;
  position: absolute;

  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;

  background: linear-gradient(
    to right,
    transparent,
    var(--dark-light-color) 5%,
    var(--dark-gray-color) 95%,
    transparent
  );
}

// #region Icons

.medium-icon {
  box-sizing: border-box;

  width: 32px;
  height: 32px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  svg {
    width: 100%;
    height: 100%;

    object-fit: cover;

    fill: var(--gray-color);

    &:hover {
      fill: var(--white-color);
    }
  }
}

// #endregion Icons

// #region TextPrettier

.text-pretty {
  position: relative;
  z-index: 5;
  background: linear-gradient(
    270deg,
    var(--primary-dark-color),
    var(--primary-light-color),
    var(--secondary-color),
    var(--secondary-dark-color),
    var(--primary-color)
  );
  background-size: 600% 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shift 5s ease infinite;
}
.text-pretty:hover {
  transition: 0.2s;
  animation-play-state: paused;
  text-shadow:
    0 0 15px rgba(255, 120, 180, 0.05),
    0 0 5px rgba(255, 120, 180, 0.1);
}

@keyframes shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// #endregion Text
