.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  > .router {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > .screen-notifications {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
  > .screen-toaster-notifications {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
}
