@if (this.listeningDataRecord()) {
  <div>
    <app-general-stats [listeningStats]="this.listeningDataRecord()" />

    <!-- <app-extended-history-filter [userTopTracksAnalysis]="this.userTopTracksAnalysis()" /> -->

    <app-user-top-extended [userTopTracksAnalysis]="this.userTopTracksAnalysis()" />
  </div>
} @else {
  <div class="flex h-[50vh] w-full flex-col items-center justify-center gap-4 p-4">
    <a
      routerLink="/extended-history/upload"
      class="w-full rounded-sm bg-primary px-2 py-2 text-center text-lg font-black sm:w-max sm:px-8 sm:text-base"
      >Upload data</a
    >
  </div>
}
