@if (this.listeningData()) {
  <div>
    <div
      class="p-2 sm:py-4 sm:px-8 gap-4 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-gray">
        <span>You have uploaded data from</span>
        <span class="text-xl font-black text-pure-white">
          {{ this.listeningData()?.startingDate | date: 'dd.MM.yyyy' }}
        </span>
        <span>to</span>
        <span class="text-xl font-black text-pure-white">
          {{ this.listeningData()?.endingDate | date: 'dd.MM.yyyy' }}
        </span>
      </p>
      <a
        routerLink="/extended-history/upload"
        class="py-2 px-2 sm:px-8 w-full sm:w-max font-black text-lg sm:text-base text-center bg-primary rounded-sm"
        >Upload more</a
      >
    </div>
    <div>
      @if (this.extendedDataIsLoaded()) {
        <app-user-top-extended [listeningData]="this.listeningData()!" />
      } @else {
        <div class="w-full flex justify-center align-center h-">
          <div class="flex flex-row items-center justify-center gap-2">
            <p>loading your extended history...</p>
            <div class="h-[32px] w-[32px]">
              <app-loading-spinner />
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
