.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
}

@media screen and (max-width: 768px) {
  .items-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .items-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
